<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin data-uk-grid-match id="user_profile">
            <div class="uk-width-large-7-10">
                <div class="md-card">
                    <div class="user_heading">
                        <div class="user_heading_menu">
                            <i class="md-icon material-icons md-icon-light no-animate" ng-show="pageOptions.isEditable" ng-click="utils.resetEditProfile()">&#xE5D5;</i>
                            <i class="md-icon material-icons md-icon-light no-animate" ng-show="pageOptions.isEditable" ng-click="pageOptions.isEditable=false;">&#xE5D4;</i>
                        </div>
                        <div class="user_heading_avatar">
                            <div class="thumbnail md-raised">
                                <img ng-src="{{user.profile.avatar.url?user.profile.avatar.url:'assets/img/avatars/avatar_01.png'}}" alt="user avatar" ng-click="utils.toggleEditAvatar()"/>
                            </div>
                        </div>
                        <div class="user_heading_content">
                            <h2 class="heading_b uk-margin-bottom">
                                    <span class="uk-text-truncate">{{user | displayName}}</span>
                                    <span class="sub-heading">{{user.profile.department}}</span>
                                </h2>
                            <ul class="user_stats">
                                <li>
                                    <h4 class="heading_a">0<span class="sub-heading">Bài đăng</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">{{user.profile.avatar.url ? '1' : '0'}}<span class="sub-heading">Hình ảnh</span></h4>
                                </li>
                                <li>
                                    <h4 class="heading_a">0<span class="sub-heading">Lượt theo dõi</span></h4>
                                </li>
                            </ul>
                        </div>
                        <a class="md-fab md-fab-small md-fab-accent no-animate" ng-click="pageOptions.isEditable=true;" ng-show="!pageOptions.isEditable">
                            <i class="material-icons">&#xE150;</i>
                        </a>
                        <a class="md-fab md-fab-small md-fab-accent no-animate" ng-click="utils.updateUserProfile()" ng-show="pageOptions.isEditable">
                            <i class="material-icons">&#xE161;</i>
                        </a>
                    </div>
                    <div class="user_content">
                        <ul id="user_profile_tabs" class="uk-tab" data-uk-tab="{connect:'#user_profile_tabs_content', animation:'slide-horizontal'}" data-uk-sticky="{ top: 48, media: 960 }">
                            <li id='user_profile_general' class="uk-active"><a href="#">Hồ sơ</a></li>
                            <li id='user_profile_settings' ><a href="#">Thiết lập</a></li>
                        </ul>
                        <ul id="user_profile_tabs_content" class="uk-switcher uk-margin">
                            <li>
                                <users-profile-about user="user" page-options="pageOptions"></users-profile-about>
                            </li>
                            <li>
                                <users-profile-settings user="user" states="states"></users-profile-settings>
                                <div id="user_profile_gallery" data-uk-check-display class="uk-grid-width-small-1-2 uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 4}">
                                    <div ng-repeat="image in user_data.images">
                                        <a href="{{image}}" data-uk-lightbox="{group:'user_images'}">
                                            <img ng-src="{{image}}" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-3-10">
                <div class="uk-grid">
                    <div class="uk-width-large-1-1">
                        <div class="md-card md-raised">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    Cập nhật hình đại diện
                                </h3>
                            </div>
                            <div class="md-card-content">
                                <users-profile-update-avatar user="user" states="states"></users-profile-update-avatar>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-large-1-1 uk-margin-medium-top">
                        <div class="md-card md-raised">
                            <div class="md-card-toolbar">
                                <h3 class="md-card-toolbar-heading-text">
                                    Thông tin đăng nhập
                                </h3>
                            </div>
                            <div class="md-card-content">
                                <users-profile-settings-change-password user="user"></users-profile-settings-change-password>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
