<div class="uk-modal" id="modal_admin_users_reset_password">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <h3 class="uk-modal-title uk-text-warning">Xác nhận yêu cầu</h3>
        </div>
        <p>Xin vui lòng cung cấp các thông tin về mã xác nhận người dùng trước khi hệ thống có thể thực hiện reset mật khẩu đối với tài khoản này:</p>

        <div class="uk-grid">
            <div class="uk-width-medium-1-1 ">
                <div class="uk-form-row">
                    <label>Mã xác nhận người dùng</label>
                    <input type="text" class="md-input" ng-model="vm.modalOptions.confirmUserCode" md-input />
                </div>
            </div>
            <div class="uk-width-medium-1-1 uk-margin-medium-top">
                <input type="checkbox" name="style_sidebar_mini" id="style_sidebar_mini" icheck ng-model="vm.modalOptions.isForceToReset" /> Cưỡng bức reset bằng mật khẩu
            </div>
            <!-- Section: Cưỡng bức reset bằng mật khẩu -->
            <div class="uk-width-medium-1-2 uk-margin-medium-top no-animate" ng-show="vm.modalOptions.isForceToReset">
                <div class="uk-form-row">
                    <label>Mật khẩu mới</label>
                    <input type="text" class="md-input" ng-model="vm.modalOptions.credentials.newPassword" md-input />
                </div>
            </div>
            <div class="uk-width-medium-1-2 uk-margin-medium-top no-animate" ng-show="vm.modalOptions.isForceToReset">
                <div class="uk-form-row">
                    <label>Nhập lại mật khẩu mới</label>
                    <input type="text" class="md-input" ng-model="vm.modalOptions.credentials.repeatNewPassword" md-input />
                </div>
            </div>
            <!-- Section: Gửi email reset mật khẩu tới người dùng -->
            
        </div>
        <!-- Section: Preloader -->
        <div class="uk-grid no-animate" ng-show="vm.modalOptions.isOnAction">
            <div class="uk-container-center">
                <md-preloader></md-preloader>
            </div>
        </div>
        
        <div class="uk-modal-footer uk-text-right">
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Hủy bỏ</button>
            <button type="button" class="md-btn md-btn-flat md-btn-flat-warning" ng-click="vm.utils.resetUserPassword()">Thực hiện</button>
        </div>
    </div>
</div>
