<div class="uk-modal" id="modal_thongsokythuats_update">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">
            <span>
                <div class="uk-clearfix">
                    <div class="uk-align-left">
                        <h3 class="uk-modal-title">{{vm.thietbi.ma_tb.ma_tb}}: Cập nhật thông số KT </h3>
                    </div>
                    <div class="uk-align-right">
                        <i class="md-icon material-icons no-animate" ng-click="vm.utils.restore()" ng-show="!vm.modalOptions.isConfirmBeforeDelete">&#xE5D5;</i>
                        <i class="md-icon material-icons no-animate" ng-click="vm.modalOptions.isConfirmBeforeDelete = !vm.modalOptions.isConfirmBeforeDelete" ng-class="{'uk-text-warning': vm.modalOptions.isConfirmBeforeDelete}">&#xE872;</i>
                        <i class="md-icon material-icons" ng-click="vm.modalOptions.isShowInfo = !vm.modalOptions.isShowInfo" ng-class="{'uk-text-primary': vm.modalOptions.isShowInfo}">&#xE88F;</i>
                    </div>                
                </div>
            </span>
        </div>
        <div class="uk-grid uk-margin-small-bottom">
            <div class="uk-width-medium-1-2">
                <div class="uk-form-stacked">
                    <label for="kUI_dropdown_static">Nhóm thông số</label>
                    <select kendo-drop-down-list style="width: 100%;"
                        ng-model="vm.source.nhom_thong_so"
                        k-filter="'contains'"
                        k-delay="500"
                        k-data-source="vm.dictionary.nhom_thong_so_ky_thuat"
                        k-rebind="vm.source.phan_loai.chung_loai.keyId">
                    </select>
                </div>
            </div>
            <div class="uk-width-medium-1-4"></div>
            <div class="uk-width-medium-1-1 uk-margin-small-top">
                <input kendo-auto-complete style="width: 100%;" 
                    ng-model="vm.source.ten"
                    k-filter="'contains'"
                    k-placeholder="'Thông số kỹ thuật'"
                    k-highlight-first="true"
                    k-suggest="true"
                    k-data-source="vm.dictionary.thong_so_dict[vm.source.thiet_bi.phan_loai.chung_loai.ma][vm.source.nhom_thong_so]['text']"/>
            </div>
            
            <div class="uk-width-medium-3-5 no-animate uk-margin-small-top" ng-hide="vm.modalOptions.isGiaTriKieuText">
                <input kendo-numeric-text-box style="width: 100%;"
                    ng-model="vm.source.gia_tri"
                    k-placeholder="'Giá trị'"
                    k-delay="500"
                    k-culture="'en-US'" />
            </div>
            <div class="uk-width-medium-2-5 no-animate uk-margin-small-top" ng-hide="vm.modalOptions.isGiaTriKieuText">
                <select kendo-drop-down-list style="width: 100%;"
                    ng-model="vm.source.don_vi"
                    k-filter="'contains'"
                    k-delay="500"
                    k-data-source="vm.dictionary.thong_so_dict[vm.source.thiet_bi.phan_loai.chung_loai.ma][vm.source.nhom_thong_so]['measure']">
                </select>
            </div>
            <div class="uk-width-medium-1-2 no-animate uk-margin-small-top" ng-show="vm.modalOptions.isGiaTriKieuText">
                <input kendo-auto-complete style="width: 100%;" 
                    ng-model="vm.source.gia_tri_text"
                    k-placeholder="'Giá trị *'"/>
            </div>
        </div>
        <div id="info" ng-show="vm.modalOptions.isShowInfo">
            <label class="uk-text-small">Được tạo {{vm.source.metadata.ngay_tao|displayDate}} bời {{(vm.source.metadata.nguoi_tao_name)?vm.source.metadata.nguoi_tao_name:vm.source.metadata.nguoi_tao_email}}</label><br/>
            <label ng-show="vm.source.metadata.ngay_cap_nhat_cuoi" class="uk-text-small">Cập nhật lần cuối vào {{vm.source.metadata.ngay_cap_nhat_cuoi|displayDate}} bời {{(vm.source.metadata.nguoi_cap_nhat_cuoi_name)?vm.source.metadata.nguoi_cap_nhat_cuoi_name:vm.source.metadata.nguoi_cap_nhat_cuoi_email}}</label>
        </div>
        <div class="uk-modal-footer uk-text-right no-animate" ng-hide="vm.modalOptions.isConfirmBeforeDelete">
            <button type="button" class="md-btn md-btn-flat uk-text-warning" ng-click="vm.utils.update()">Cập nhật</button>
            <button type="button" class="md-btn md-btn-flat uk-modal-close">Đóng</button>
        </div>
        <div class="uk-modal-footer" ng-show="vm.modalOptions.isConfirmBeforeDelete">
            <div class="uk-clearfix">
                <div class="uk-align-left">
                    <label class="uk-text-warning">Bạn có chắc muốn xóa nội dung này?</label>
                </div>
                <div class="uk-align-right">
                    <button type="button" class="md-btn md-btn-flat" ng-click="vm.utils.remove(vm.source._id)">Ok, xóa</button>
                    <button type="button" class="md-btn md-btn-flat uk-text-primary" ng-click="vm.modalOptions.isConfirmBeforeDelete=false;">Không, trở về</button>
                </div>                
            </div>
        </div>
    </div>
</div>