<div class="uk-width-medium-8-10 uk-container-center reset-print" id="editCauHoi_Form">
    <div class="uk-grid uk-grid-collapse" data-uk-grid-margin>
        <div class="uk-width-large-1-1">
            <div class="md-card">
                <div class="md-card-toolbar">
                    <div class="md-card-toolbar-actions">
                        <card-fullscreen-activate></card-fullscreen-activate>                        
                        <i class="md-icon material-icons no-animate" ng-click="vm.utils.randomizeLuaChonOrder()">&#xE0D7;</i>
                        <i class="md-icon material-icons no-animate" ng-click="vm.reset()">&#xE5D5;</i>
                        <i class="md-icon material-icons no-animate" ng-show="$root.card_fullscreen" ng-click="vm.addNewCauHoi()">&#xE161;</i>
                        <i class="md-icon material-icons no-animate" ng-class="{'uk-text-warning': vm.pageOptions.able.removeCauHoi}" data-uk-modal="{target: '#modal_cauhois_xoa_cau_hoi'}" ng-show="vm.pageOptions.able.removeCauHoi">&#xE872;</i>       
                    </div>
                    <card-fullscreen-deactivate></card-fullscreen-deactivate>
                    <h3 class="md-card-toolbar-heading-text">
                        Cập nhật câu hỏi: {{vm.source._id}}
                    </h3>
                </div>
                <div class="md-card-content">
                    <div class="md-card-content">
                        <div class="uk-grid uk-margin-medium-top uk-margin-large-bottom" data-uk-grid-margin>
                            <div class="uk-width-large-1-2">
                                <div class="uk-margin-right uk-margin-left">
                                    <h3 class="heading_c uk-margin-small-bottom">Dữ liệu câu hỏi</h3>
                                    <div class="uk-grid uk-margin-medium-top uk-margin-medium-bottom" data-uk-grid-margin>
                                        <div class="uk-width-medium-1-1">
                                            <div class="uk-form-row">
                                                <label>Câu hỏi</label>
                                                <textarea cols="30" rows="4" class="md-input" ng-model="vm.source.noi_dung.tieu_de" md-input textarea-autosize></textarea>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1 uk-clearfix">
                                            <div class="uk-align-medium-right">
                                                Thêm / bớt các lựa chọn:
                                                <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.addNumOfLuaChons}" ng-click="vm.utils.addNumOfLuaChons()">&#xE145;</i>
                                                <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.decreaseNumOfLuaChons()">&#xE15B;</i>
                                            </div>
                                        </div>
                                        <div class="uk-width-medium-1-1">
                                            <ul class="uk-sortable sortable-handler" id="sortable" data-uk-sortable>
                                                <li ng-repeat="item in vm.source.noi_dung.lua_chons | orderBy:'order'" data-index="{{item.order}}" class="uk-nestable-item" >
                                                    <div class="uk-nestable-panel">
                                                        <div class="uk-grid">
                                                            <div class="uk-width-small-5-6">
                                                                {{ item.order | displayNumberAsAlphabelt }}.<br/>
                                                                <textarea cols="30" rows="1" class="md-input uk-text-muted uk-text-small" md-input textarea-autosize style="padding-top:0px;line-height: 16px" ng-model="item.tieu_de"></textarea>
                                                            </div>
                                                            <div class="uk-width-small-1-6">
                                                                <i class="md-icon-fade material-icons no-animate" ng-class="{'color-primary': item.isCorrect}" ng-click="vm.utils.setCorrectAnswer(item)">&#xE876;</i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="uk-width-large-1-2">
                                <div class="uk-accordion" data-uk-accordion>
                                    <h3 class="uk-accordion-title" id="accordion_phan_loai">Phân loại</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom">
                                            <div class="uk-width-medium-1-1 uk-clearfix">
                                                <div class="uk-align-medium-right">
                                                    <i class="md-icon material-icons no-animate" ng-click="vm.utils.resetPhanLoaiSection()">&#xE5D5;</i>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-3-5 uk-margin-small-top">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_nhomcauhoi">Nhóm câu hỏi</label>
                                                    <select kendo-drop-down-list style="width: 100%;" id="cauhoi_phanloai_nhomcauhoi"
                                                        k-ng-model="vm.source.phan_loai.nhom_cau_hoi"
                                                        k-data-text-field="'ten'" 
                                                        k-data-value-field="'ma'"
                                                        k-filter="'contains'"
                                                        k-index="-1"
                                                        k-rebind="vm.source.phan_loai.nhom_cau_hoi"
                                                        k-data-source="vm.dictionary.nhom_cau_hois">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-2-5 uk-margin-small-top">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_mucdo">Mức độ</label>
                                                    <select kendo-drop-down-list style="width: 100%;" id="cauhoi_phanloai_mucdo"
                                                        k-ng-model="vm.source.phan_loai.muc_do"
                                                        k-data-text-field="'ten'"
                                                        k-data-value-field="'ma'"
                                                        k-index="-1"
                                                        k-rebind="vm.source.phan_loai.muc_do"
                                                        k-data-source="vm.dictionary.muc_dos">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-3-5 uk-margin-medium-top">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_nhomtb">Nhóm TB</label>
                                                    <select kendo-drop-down-list style="width: 100%;" id="cauhoi_phanloai_nhomtb"
                                                        k-ng-model="vm.source.phan_loai.nhom_tb"
                                                        k-data-text-field="'ten'"
                                                        k-data-value-field="'ma'"
                                                        k-filter="'contains'"
                                                        k-index="-1"
                                                        k-rebind="vm.source.phan_loai.nhom_tb"
                                                        k-data-source="vm.dictionary.nhom_tbs">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1 uk-margin-medium-top">
                                                <label for="cauhoi_phanloai_loaithietbi">Loại TB</label>
                                                <select kendo-multi-select id="cauhoi_phanloai_loaithietbi"
                                                    k-data-source="vm.dictionary.loai_tbs[vm.source.phan_loai.nhom_tb.ma]"
                                                    k-rebind="vm.source.phan_loai.nhom_tb.ma"
                                                    k-ng-delay="vm.dictionary.loai_tbs[vm.source.phan_loai.nhom_tb.ma]"
                                                    k-ng-model="vm.source.phan_loai.loai_tb">
                                                </select>
                                            </div>
                                            <div class="uk-width-medium-1-1 uk-margin-medium-top">
                                                <div class="uk-form-stacked">
                                                    <label for="cauhoi_phanloai_bacthi">Bậc thi</label>
                                                    <select kendo-multi-select id="cauhoi_phanloai_bacthi"
                                                        k-data-source="vm.dictionary.bac_this"
                                                        k-ng-delay="vm.source.phan_loai.bac_thi"
                                                        k-ng-model="vm.source.phan_loai.bac_thi">
                                                    </select>
                                                </div>
                                            </div>                                           
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title" id="accordion_so_sanh">So sánh với CSDL</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom">
                                            <div class="uk-width-medium-1-1 uk-clearfix">
                                                <div class="uk-align-medium-right">
                                                    <i class="md-icon-fade material-icons no-animate" ng-class="{'color-primary': vm.pageOptions.props.isDiffViewLink}" ng-click="vm.pageOptions.props.isDiffViewLink=!vm.pageOptions.props.isDiffViewLink">&#xE157;</i>
                                                    <i class="md-icon-fade material-icons no-animate" ng-class="{'color-primary': vm.pageOptions.props.isDiffViewResult}" ng-click="vm.utils.makeDiff()">&#xE8F4;</i>
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.pageOptions.input.diffViewSearch=''">&#xE5D5;</i>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1 no-animate" ng-show="!vm.pageOptions.props.isDiffViewResult">
                                                <label for="pageOptions_diffViewSearch">Tra cứu</label>
                                                <input kendo-auto-complete style="width: 100%;" id="pageOptions_diffViewSearch"
                                                    ng-model="vm.pageOptions.input.diffViewSearch"
                                                    k-filter="'contains'"
                                                    k-min-length="3"
                                                    k-highlight-first="true"
                                                    k-data-source="vm.pageReactiveData.cauhois"
                                                    k-data-text-field="'noi_dung.tieu_de'"/>
                                            </div>
                                            <div class="uk-width-medium-1-1 uk-margin-medium-top no-animate" ng-show="!vm.pageOptions.props.isDiffViewResult">
                                                <div class="uk-form-row">
                                                    <label>Dữ liệu từ hệ thống</label>
                                                    <textarea 
                                                        cols="30" rows="4" class="md-input" 
                                                        ng-model="vm.pageOptions.input.diffViewSearch"
                                                        md-input textarea-autosize>
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1 uk-margin-medium-top no-animate" ng-show="vm.pageOptions.props.isDiffViewResult">
                                                <pre><code id="diff_result" class="large_code" textarea-autosize></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title" id="accordion_tags">Gắn thẻ (Tag)</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom">
                                            <div class="uk-width-medium-1-1 uk-clearfix">
                                                <div class="uk-align-medium-right">                                                  
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.resetTagSection()">&#xE5D5;</i>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1">
                                                <label for="cauhoi_phanloai_loaithietbi">Thêm tag mới</label>
                                                <select kendo-multi-select id="cauhoi_phanloai_loaithietbi"
                                                    k-data-source="vm.pageReactiveData.tags"
                                                    k-filter="'contains'"
                                                    k-highlight-first="false"
                                                    k-data-text-field="'ten'"
                                                    k-data-value-field="'ten'"
                                                    ng-model="vm.source.tags">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title" id="accordion_hinh_anh">Hình ảnh</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom">
                                            <div class="uk-width-medium-1-1 uk-clearfix">
                                                <div class="uk-align-medium-right">
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': ((!vm.pageOptions.able.addNumOfUrlHinhAnhs) || (!vm.pageOptions.props.isHasImages))}" ng-click="vm.utils.addNumOfHinhAnhs()">&#xE145;</i>
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': ((!vm.pageOptions.able.decreaseNumOfUrlHinhAnhs) || (!vm.pageOptions.props.isHasImages))}" ng-click="vm.utils.decreaseNumOfHinhAnhs()">&#xE15B;</i>
                                                    <i class="md-icon material-icons no-animate" ng-click="vm.utils.resetHinhAnhsSection()">&#xE5D5;</i>
                                                </div>
                                            </div>
                                            <div class="uk-width-medium-1-1 uk-margin-small-top">
                                                <div class="uk-form-row">
                                                    <input type="checkbox" ui-switch ng-model="vm.pageOptions.props.isHasImages" color="{{vm.utils.accentColor}}" id="cauhoi_noidung_isHasImages" />
                                                    <label for="cauhoi_noidung_isHasImages" class="inline-label">Câu hỏi {{ vm.pageOptions.props.isHasImages ? 'có' : 'không' }} sử dụng hình ảnh</label>
                                                </div>
                                            </div>
                                            <div ng-repeat="item in vm.source.noi_dung.url_hinh_anhs track by $index" class="uk-width-medium-1-1 uk-margin-medium-top no-animate" ng-show="vm.pageOptions.props.isHasImages">
                                                <div class="uk-grid">
                                                    <div class="uk-width-medium-5-6">
                                                        <label>Liên kết tới hình ảnh</label>
                                                        <input type="text" class="md-input" ng-model="vm.source.noi_dung.url_hinh_anhs[$index]" md-input />
                                                    </div>
                                                    <div class="uk-width-medium-1-6" style="padding-top: 10px;">
                                                        <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !item}" ng-click="vm.utils.showModalLightBox($index)">&#xE8F4;</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="uk-accordion-title" id="accordion_ghi_chu">Ghi chú</h3>
                                    <div class="uk-accordion-content">
                                        <div class="uk-grid uk-margin-medium-bottom">
                                            <div class="uk-width-medium-1-1 uk-clearfix">
                                                <div class="uk-align-medium-right">
                                                    <i class="md-icon material-icons no-animate" ng-class="{'color-fade': !vm.pageOptions.able.decreaseNumOfLuaChons}" ng-click="vm.utils.resetGhiChuSection()">&#xE5D5;</i>
                                                </div>
                                            </div>
                                            <div class="uk-width-1-1">
                                                <label for="user_bio">Mô tả</label>
                                                <textarea id="user_bio" class="md-input" name="user_bio" cols="10" rows="2" md-input ng-model="vm.source.mo_ta"></textarea>
                                            </div>
                                            <div class="uk-width-1-1 uk-margin-medium-top">
                                                <label for="user_bio">Ghi chú</label>
                                                <textarea id="user_bio" class="md-input" name="user_bio" cols="10" rows="2" md-input ng-model="vm.source.ghi_chu"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" ng-click="vm.save()">
        <i class="material-icons">&#xE161;</i>
    </a>
</div>

<cauhois-modal-xoa-cau-hoi source="vm.source"></cauhois-modal-xoa-cau-hoi>

<div class="uk-modal" id="modal_lightbox">
    <div class="uk-modal-dialog uk-modal-dialog-lightbox">
        <button type="button" class="uk-modal-close uk-close uk-close-alt"></button>
        <img src="{{vm.pageOptions.props.lightBoxImageSrc}}" alt=""/>
        <div class="uk-modal-caption">{{vm.pageOptions.props.lightBoxImageSrc}}</div>
    </div>
</div>
